<p *ngIf="meals.length == 0">Meals list empty. Please get a random meal.</p>

<div *ngIf="meals.length > 0">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meal of meals | slice: (page-1) * (pageSize) : page * pageSize; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ meal.strMeal }}
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="meals.length"
  class="d-flex justify-content-end">
  </ngb-pagination>
</div>
