<app-navbar></app-navbar>
<p *ngIf="meals.length == 0; else mealsExist">Meals list empty. Please get a random meal.</p>

<ng-template #mealsExist>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meal of meals | slice: (page-1) * (pageSize) : page * pageSize;" routerLink="/meal-details">
          <th scope="row">{{ meals.indexOf(meal) + 1 }}</th>
          <td>
            {{ meal.strMeal }}
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination *ngIf="meals.length > 10"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="meals.length"
    class="d-flex justify-content-end">
    </ngb-pagination>
  </div>
  
</ng-template>